.c3chart{
margin:5px 0px 7px;
}
#chart-container{
background-color:#eee;
margin-bottom:15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html{
position:relative;
min-height:100%;
}
body{
margin-bottom:40px;
}
.footer {
position:absolute;
bottom:0;
width:100%;
height:40px;
background-color:#f5f5f5;
text-align:right;
}
.footer p {
line-height:2.8571429;
margin:0;
}

/* Currently weather
-------------------------------------------------- */
#currentlyWeather{
position:relative;
}
#currentlyWeather sup{
font-size:18px;
}
#currentTemperature{
margin-left:7px;
}
#currentlyWeatherContainer{
margin-bottom:20px;
}
#currentlyTemperature{
font-size:30px;
}

.jumbotron{
padding-top:5px;
padding-bottom:20px;
margin-bottom:15px;
}

.fontsize24 { font-size:24px; }
.fontsize18 { font-size:18px; }
.fontsize16 { font-size:16px; }
.fontsize10 { font-size:10px; }
.marginL2 { margin-left:2px; }
.marginR6 { margin-right:6px; }
.marginR8 { margin-right:8px; }

.weather-day{
border:1px solid #ccc;
padding-left:7px;
padding-right:7px;
}